@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
}

:root {
    --primary: #1A2B33;
    --secondary: #1E3640;
    --grey: #A9BEC8;
    --light-yellow: #F2B138;
    --dark-cyan: #34C3BE;
}

html, body, main {
    height: 100%;
}

body {
    background-color: var(--primary);
    font-family: 'Outfit', sans-serif;
}

main {

    display: grid;
    grid-template-rows: 1fr 5fr 2fr;
}

main header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .turn-indicator {
        border-radius: 10%;
        background-color: #1E3640;
        box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
        padding: 10px 25px;

        display: flex;
        gap: 10px;
        align-items: center;

        text-transform: uppercase;
        color: var(--grey);

        img {
            width: 20px;
            height: 20px;
        }
    }

    .reset-button {
        background-color: var(--grey);
        border: none;
        height: 50px;
        width: 50px;
        border-radius: 10px;
        box-shadow: 0 -5px 0px rgba(0, 0, 0, .3);
    }
}

main .grid {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
    gap: 1.7em;

    place-content: center;

    .cell {
        background-color: rgb(30, 54, 64);;
        border-radius: 10px;
        border: 2px solid rgba(255, 255, 255, .2);
        box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
    }
}

main .score {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;

    .score-item {
        border-radius: 10px;
        padding: 10px 20px;

        width: 10vw;

        text-align: center;
        color: var(--primary)
    }

    .player-x-score {
        background-color: var(--dark-cyan);
    }

    .tie-score {
        background-color: var(--grey);
    }

    .player-o-score {
        background-color: var(--light-yellow);
    }
}