@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --primary: #1A2B33;
    --secondary: #1E3640;
    --grey: #A9BEC8;
    --light-yellow: #F2B138;
    --dark-cyan: #34C3BE;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--primary);
    font-family: 'Outfit', sans-serif;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    padding: 10px;
}

main {
    flex: 1;

    display: grid;
    grid-template-rows: 1fr 5fr 2fr;
}

main header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .turn-indicator {
        border-radius: 10%;
        background-color: #1E3640;
        box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
        padding: 10px 25px;

        display: flex;
        gap: 10px;
        align-items: center;

        color: var(--grey);

        .svg-container {
            display: flex;
            align-items: center;
        }

        svg {
            width: 20px;
            height: 20px;
            fill: #A9BEC8;
        }
    }

    .reset-button {
        background-color: var(--grey);
        border: none;
        height: 50px;
        width: 50px;
        border-radius: 10px;
        box-shadow: 0 -5px 0px rgba(0, 0, 0, .3);

        svg {
            fill: #1F3641;
        }
    }
}

main .grid {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
    gap: 1.7em;

    place-content: center;

    .cell {
        background-color: rgb(30, 54, 64);;
        border-radius: 10px;
        border: 2px solid rgba(255, 255, 255, .2);
        box-shadow: 0 10px 10px rgba(0, 0, 0, .5);

        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 66px;
            height: 66px;
        }

        &.marked-x svg {
            fill: #31C3BD;
        }

        &.marked-o svg {
            fill: #F2B137;
        }

    }

    &.turn-x .cell:not(:disabled):hover {
        background-image: url("../assets/img/x-icon-outline.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    &.turn-o .cell:not(:disabled):hover {
        background-image: url("../assets/img/o-icon-outline.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    &.turn-x .cell.won {
        background-color: #31C3BD;

        svg {
            fill: rgb(30, 54, 64);
        }
    }

    &.turn-o .cell.won {
        background-color: #F2B137;

        svg {
            fill: rgb(30, 54, 64);
        }
    }

    .cell.draw {
        background-color: #2E3E44;

        svg {
            fill: #8FA3AD;
        }
    }

}

main .score {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;

    .score-item {
        border-radius: 10px;
        padding: 10px 20px;

        width: 200px;
        height: 75px;

        text-align: center;
        color: var(--primary)
    }

    .x-score {
        background-color: var(--dark-cyan);
    }

    .draw-score {
        background-color: var(--grey);
    }

    .o-score {
        background-color: var(--light-yellow);
    }
}

footer {
    color: rgba(255, 255, 255, .4);
    text-align: center;
    
    a {
        text-decoration: none;
        color: var(--light-yellow);
    }
}